:root {
    /* Primary */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    /* neutral */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    /*  background, headings, buttons */
    --very-light-gray: hsl(0, 0%, 95%);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: var(--very-light-gray);
}

.grid-container {
    height: 100%;
    margin: 0;
    position: relative;
}

main {
    margin: 20% auto;
    display: grid;
    grid-template-columns: repeat(3, 33vh);
    grid-template-rows: 54vh;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5vh 3.125rem;
}

.sedans {
    background-color: var(--bright-orange);
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
}

.suvs {
    background-color: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--very-light-gray);
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
    font-size: 0.938rem;
    color: var(--very-light-gray);
    width: 12.375rem;
    margin: 0;
    line-height: 1.8;
}

.learn-more {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    border: 0;
    border-radius: 3.125rem;
    cursor: pointer;
    font-size: 0.938rem;
    mix-blend-mode: screen;
    margin-top: 5rem;
    padding: 0.938rem 2.5rem;
}

.learn-more:active {
    background-color: transparent;
    color:var(--very-light-gray);
    border: 0.125rem solid var(--very-light-gray);
}

/* mobile */

@media(max-width: 850px) {
    main {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
    }

    p {
        width: 20.625rem;
    }

    .sedans {
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.625rem;
    }

    .luxury {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0.625rem;
    }

    .learn-more{
        margin-top: 2.5rem;
    }
}